body {
  font-family: Inter;
  font-size: 12px;
  margin: 0;
}

.main {
  position: relative;
  height: 100%;
}

.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.chat .header {
  border-bottom: 1px solid #e9e9e9;
}

.chat .header .onboarding-tip__msg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat .header .onboarding-tip__icon {
  border-right: 1px solid #e9e9e9;
  cursor: pointer;
}

.messages {
  margin: 0;
  overflow: auto;
  padding: 15px 15px 0;
}
.messages .message {
  background-color: #18a0fb;
  border-radius: 15px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 15px;
  margin: 0 30% 15px 0;
}

.messages .message.me {
  color: #000;
  margin: 0 0 15px 30%;
  background-color: #ebebeb;
}

.messages .message .user {
  font-size: 9px;
  margin-bottom: 5px;
  color: #fff;
}

.messages .message .selection {
  margin: 8px 0 0 0;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.messages .message.me .user {
  color: #000;
}

.messages .message.me .selection {
  border-color: #000;
  color: #000;
}

.messages .message.lightblue .user {
  color: #357d94;
}
.messages .message.lightblue .selection {
  border-color: #357d94;
  color: #357d94;
}

.messages .message.lightgreen .user {
  color: #3a8459;
}
.messages .message.lightgreen .selection {
  border-color: #3a8459;
  color: #3a8459;
}

.messages .message.purple .user {
  color: #433688;
}
.messages .message.purple .selection {
  border-color: #433688;
  color: #433688;
}

.messages .message.red .user {
  color: #842713;
}
.messages .message.red .selection {
  border-color: #842713;
  color: #842713;
}

.messages .message.green .user {
  color: #0d6540;
}
.messages .message.green .selection {
  border-color: #0d6540;
  color: #0d6540;
}

.messages .message.orange .user {
  color: #865427;
}
.messages .message.orange .selection {
  border-color: #865427;
  color: #865427;
}

.messages .message.gray {
  background-color: #4f4f4f;
}
.messages .message.blue {
  background-color: #18a0fb;
}
.messages .message.lightblue {
  background-color: #56ccf2;
  color: #357d94;
}
.messages .message.purple {
  background-color: #7b61ff;
  color: #433688;
}
.messages .message.green {
  background-color: #1bc47d;
  color: #0d6540;
}
.messages .message.lightgreen {
  background-color: #6fcf97;
  color: #3a8459;
}
.messages .message.red {
  background-color: #f24822;
  color: #842713;
}
.messages .message.orange {
  background-color: #f2994a;
  color: #865427;
}

.chat .footer {
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-gap: 10px;
  margin: 0;
  padding: 15px;
  border-top: 1px solid #e9e9e9;
}

.chat .footer button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*
  SETTINGS
*/
.settings {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.settings h4 {
  margin: 0 0 15px;
}
.settings p {
  color: #999;
  margin: 0;
  font-size: 10px;
}
.settings .fields {
  margin-bottom: 20px;
}
.settings .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.settings .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin-bottom: 30px;
}
.settings .colors .color {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.settings .colors .color.active::after {
  content: '';
  left: -6px;
  top: -6px;
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.connection {
  display: grid;
  text-align: center;
  height: 100%;
  font-size: 14px;
}
.connection div {
  align-self: center;
}
