body {
  font-family: Inter;
  font-size: 12px;
  margin: 0;
}

.main {
  position: relative;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 6px;
}
